body {
  font-family: helvetica;
  font-size: 14px;
}

#right-col{
    overflow-y: scroll;
    height: 80vh;
}

#app{
     width: 100%;
     height: 80vh;
}

#work_area {
     margin-top: 15px;
     height: 100%;
}

#cy-card {
     height: 100%;
}

#cy {
     border: solid;
     border-width: 1;
     width: 100%;
     height: 100%;
}

.row {
     height: 100%;
}
